In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from mlxtend.frequent_patterns import apriori, association_rules
from mlxtend.preprocessing import TransactionEncoder

In [2]:
data=pd.read_excel("Online retail.xlsx")
data.head()

  shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
0                             burgers,meatballs,eggs
1                                            chutney
2                                     turkey,avocado
3  mineral water,milk,energy bar,whole wheat rice...
4                                     low fat yogurt

In [14]:
data.shape

(5175, 1)

In [15]:
data.columns

Index(['shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil'], dtype='object')

#### Data Preprocessing

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7500 entries, 0 to 7499
Data columns (total 1 columns):
 #   Column                                                                                                                                                                                                                           Non-Null Count  Dtype
---  ------                                                                                                                                                                                                                           --------------  -----
 0   shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil  7500 non-null   object
dtypes: object(1)
memory usage: 58.7+ KB

In [4]:
data.describe()

       shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
count                                                7500
unique                                               5175
top                                               cookies
freq                                                  223

In [5]:
data.isnull()

      shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
0                                                 False
1                                                 False
2                                                 False
3                                                 False
4                                                 False
...                                                 ...
7495                                              False
7496                                              False
7497                                              False
7498                                              False
7499                                              False

[7500 rows x 1 columns]

In [6]:
data.isnull().sum()

shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil    0
dtype: int64

In [7]:
print(data.columns)

Index(['shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil'], dtype='object')

In [16]:
#  Remove duplicates
data.drop_duplicates(inplace=True)

In [17]:
data.head()

  shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
0                             burgers,meatballs,eggs
1                                            chutney
2                                     turkey,avocado
3  mineral water,milk,energy bar,whole wheat rice...
4                                     low fat yogurt

In [23]:
# Convert each row into a list of items
transactions = data.iloc[:, 0].apply(lambda x: x.split(','))

In [24]:
# Initialize Transaction Encoder
te = TransactionEncoder()
te_ary = te.fit(transactions).transform(transactions)
data_encoded = pd.DataFrame(te_ary, columns=te.columns_)

In [26]:
freq_itemsets = apriori(data_encoded, min_support=0.02, use_colnames=True)
freq_itemsets

      support                                 itemsets
0    0.029179                                (almonds)
1    0.045797                                (avocado)
2    0.020483                              (black tea)
3    0.045024                               (brownies)
4    0.113816                                (burgers)
..        ...                                      ...
169  0.020097         (mineral water, milk, chocolate)
170  0.022995    (spaghetti, mineral water, chocolate)
171  0.020676         (spaghetti, mineral water, eggs)
172  0.024734  (ground beef, spaghetti, mineral water)
173  0.022609         (spaghetti, mineral water, milk)

[174 rows x 2 columns]

In [27]:
rules = association_rules(freq_itemsets,min_threshold=1)
rules

Empty DataFrame
Columns: [antecedents, consequents, antecedent support, consequent support, support, confidence, lift, representativity, leverage, conviction, zhangs_metric, jaccard, certainty, kulczynski]
Index: []

In [ ]:
# Association Rule Mining with Apriori
# Apply Apriori to find frequent itemsets with min_support=0.01
frequent_itemsets = apriori(df_encoded, min_support=0.01, use_colnames=True)

In [28]:
# Generate association rules with lift >= 1.2 and confidence >= 0.3
rules = association_rules(freq_itemsets, metric='lift', min_threshold=1.2)
filtered_rules = rules[(rules['confidence'] >= 0.3)]

In [29]:
# Analysis and Interpretation
# --------------------
# Display sample rules with important metrics
print("Sample Association Rules:")
print(filtered_rules[['antecedents', 'consequents', 'support', 'confidence', 'lift']].head())

Sample Association Rules:
      antecedents      consequents   support  confidence      lift
0       (burgers)           (eggs)  0.036135    0.317487  1.525531
10         (cake)  (mineral water)  0.037681    0.363806  1.213859
16      (chicken)  (mineral water)  0.032657    0.389401  1.299258
33  (cooking oil)  (mineral water)  0.028986    0.403226  1.345386
35  (cooking oil)      (spaghetti)  0.022802    0.317204  1.381761

### Interpretation:
#### - Rules indicate products frequently bought together.
#### - Higher lift (>1) means strong association beyond chance.
#### - Support shows overall popularity of itemsets.
#### - Confidence indicates likelihood of consequent given antecedent.
#### Insights are useful to optimize promotions, shelf placement, and customer targeting.

In [22]:
# Import required libraries
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules

# Load dataset
df = pd.read_excel("Online retail.xlsx")

# The dataset contains one column with comma-separated items
print(df.head())

# Convert each row into a list of items
transactions = df.iloc[:, 0].apply(lambda x: x.split(','))

# Initialize Transaction Encoder
te = TransactionEncoder()
te_ary = te.fit(transactions).transform(transactions)
df_encoded = pd.DataFrame(te_ary, columns=te.columns_)

# Apply Apriori algorithm to find frequent itemsets
frequent_items = apriori(df_encoded, min_support=0.02, use_colnames=True)

# Generate association rules
rules = association_rules(frequent_items, metric="lift", min_threshold=1.0)

# Sort and show top rules
rules = rules.sort_values(by=['lift', 'confidence'], ascending=False)
print(rules.head(10))

  shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
0                             burgers,meatballs,eggs
1                                            chutney
2                                     turkey,avocado
3  mineral water,milk,energy bar,whole wheat rice...
4                                     low fat yogurt
            antecedents          consequents  antecedent support  \
66        (ground beef)          (spaghetti)            0.098267
67          (spaghetti)        (ground beef)            0.174133
88          (olive oil)          (spaghetti)            0.065733
89          (spaghetti)          (olive oil)            0.174133
81               (soup)      (mineral water)            0.050533
80      (mineral water)               (soup)            0.238267
55  (frozen vegetables)               (milk)            0.095333
54               (milk)  (frozen vegetables)            0.129600
0             (burgers)               (eggs)            0.087200
1                (eggs)            (burgers)            0.179733

    consequent support   support  confidence      lift  representativity  \
66            0.174133  0.039200    0.398915  2.290857               1.0
67            0.098267  0.039200    0.225115  2.290857               1.0
88            0.174133  0.022933    0.348884  2.003547               1.0
89            0.065733  0.022933    0.131700  2.003547               1.0
81            0.238267  0.023067    0.456464  1.915771               1.0
80            0.050533  0.023067    0.096810  1.915771               1.0
55            0.129600  0.023600    0.247552  1.910127               1.0
54            0.095333  0.023600    0.182099  1.910127               1.0
0             0.179733  0.028800    0.330275  1.837585               1.0
1             0.087200  0.028800    0.160237  1.837585               1.0

    leverage  conviction  zhangs_metric   jaccard  certainty  kulczynski
66  0.022088    1.373959       0.624888  0.168096   0.272176    0.312015
67  0.022088    1.163699       0.682292  0.168096   0.140672    0.312015
88  0.011487    1.268387       0.536127  0.105716   0.211597    0.240292
89  0.011487    1.075972       0.606497  0.105716   0.070608    0.240292
81  0.011026    1.401441       0.503458  0.086804   0.286449    0.276637
80  0.011026    1.051237       0.627538  0.086804   0.048740    0.276637
55  0.011245    1.156758       0.526685  0.117219   0.135515    0.214826
54  0.011245    1.106083       0.547420  0.117219   0.095909    0.214826
0   0.013127    1.224782       0.499351  0.120941   0.183528    0.245256
1   0.013127    1.086974       0.555682  0.120941   0.080015    0.245256